<div class="row">
  <div class="col-12 col-md-7 mb-4">
    <div class="border rounded p-3">
      <div class="d-lg-flex justify-content-between border-bottom pb-1">
        <h4 class="d-md-block">Thông báo quan trọng</h4>
        <a href="/thong-bao" class="d-md-block">Xem tất cả</a>
      </div>
      <div class="bg-light p-3 mt-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/chi-tiet" class="text-decoration-none text-black">
              <h5 class="text-truncate">Tiêu đề</h5>
              <p class="text-truncate">Nội dung</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5">
    <div class="border rounded p-3">
      <div class="d-lg-flex justify-content-between border-bottom pb-1">
        <h4 class="d-md-block">Thông báo mới</h4>
        <a href="/thong-bao" class="d-md-block">Xem tất cả</a>
      </div>
      <div class="bg-light p-3 mt-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/chi-tiet" class="text-decoration-none text-black">
              <h5 class="text-truncate">Tiêu đề</h5>
              <p class="text-truncate">Nội dung</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
