<nav
  class="bg-light px-3 pt-3 pb-1"
  style="--bs-breadcrumb-divider: '>'"
  aria-label="breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="/thong-bao">Thông báo</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Chi tiết thông báo
    </li>
  </ol>
</nav>

<div class="mt-3 bg-light p-sm-5 p-3 detail">
  <center><h3 class="mb-3">Tiêu đề</h3></center>
  <p class="d-flex justify-content-end fst-italic mb-4">
    Ngày đăng: 10/10/2022
  </p>
  <p>Nội dung</p>
</div>
